﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Css/Site.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/JQueryMobile/jquery.mobile-1.1.0.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/JQueryMobile/jquery.mobile.structure-1.1.0.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/JQueryMobile/jquery.mobile.theme-1.1.0.min.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Content/JQuery/jquery.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Content/JQueryMobile/jquery.mobile-1.1.0.min.js")" type="text/javascript"></script>
</head>
<body>
	
<header data-role="header">
	@RenderSection("header", false)

	@if (!IsSectionDefined("header"))
	{
		<a href="#" data-icon="delete">Cancel</a>
		<h1>Edit Contact</h1>
		<a href="#" data-icon="check">Save</a>
	}
</header>

<article data-role="content">
	@RenderBody()
</article>

<footer data-role="footer">
	@RenderSection("footer", false)

	@if (!IsSectionDefined("footer"))
	 {
		<h4>Footer content</h4>
	 }
</footer>

</body>
</html>
