﻿@{
    ViewBag.Title = "FindControllers";
}
@using MVCTemplating.Views;


@{ var views = (ViewCollection)ViewBag.Views; }

@foreach (var view in views)
{
	@view.Controller.GetType().Name<br />
	@view.ViewName<br />
	<hr />
}
