﻿@{
    ViewBag.Title = "Lambdas";
}

<h2>Lambda Samples</h2>


<form action="" method="post">

	<div>
		First Name:
		@Html.TextBox("FirstName")
	</div>
	<div>
		Last Name:
		@Html.TextBox("LastName")
	</div>
	<div>
		State:
		@Html.DropDownList("State", new SelectListItem[] { new SelectListItem { Text = "PA", Value = "PA" }})
	</div>
	<input type="submit" value="Save" />

</form>