﻿@{
    ViewBag.Title = "Functions";
}

<h2>Function Samples</h2>

@functions
{
	public static IHtmlString FirstOutput()
	{
		return new MvcHtmlString("<p>This is output created from the first function method.</p>");
	}
	
	public static IHtmlString SecondOutput(string text)
	{
		return new MvcHtmlString("<p>" + text + "</p>");
	}
}


@FirstOutput()

@SecondOutput("This is output created from the second function method.")
