﻿@{
    ViewBag.Title = "Helpers";
}

<h2>Helper Samples</h2>

@helper FirstHelper()
{
	<p>
		This is output created from the first helper method.
	</p>
}

@helper SecondHelper(string text)
{
	<p>
		@text
	</p>
}

@FirstHelper()

@SecondHelper("This is output created from the second helper method.")